# Insurance Data
* James Belk
* 04/05/2023

## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

## Load Data

In [3]:
file = 'Data/insurance.csv'
df = pd.read_csv(file)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Q1 - Do smokers have higher insurance charges than non-smokers?

## Q2 - Are mean more likely to smoke than women?

## Q3 - Do different regions have different charges, on average?